
}
#container
{
    text-align: center;
}

body{
	font-family:georgia;
	position:relative;
	top:auto;
	left:auto;
	right:22px;
	margin:auto;  
}


ul {
	list-style-type:none;
	margin:0;
	padding:0;
        margin-left:15px;
	
}


li {
	display:inline-block;
	float: center;
	margin-right: 20px;
}


li a {
	display:block;
	min-width:200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: georgia;
	color: #fff;
	background:#2166a9;
	text-decoration: none;
}


li:hover a {
	background: #2166a9;
}


li:hover ul a {
	background: #2166a9;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}


li:hover ul a:hover {
	background: #2166a9;
	color: #fff;
}


li ul {
	display: none;
}

li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

.show-menu {
	font-family: georgia;
	text-decoration: none;
	color: #fff;
	background:#308a4e;
	text-align: center;
	padding:10px ;
	display: none;
        margin-left:15px;
}

.navbar-toggle .icon-bar {
	background-color:#bedaff;
} 


input[type=checkbox]{
	display: none;
}


input[type=checkbox]:checked ~ #menu{
	display: block;
}


@media screen and (max-width : 760px){
	
	ul {
		position: static;
		display: none;
	}
	
	li {
		margin-bottom: 1px;
	}
	
	ul li, li a {
		width: 100%;
	}
	
	.show-menu {
		display:block;
	}
         .show-pic{
		display:block;
	}
	.service-content {
	    margin-left:80px !important;
	}
	.footer{
	    margin-left:35px !important;
	}
}

.Text {
	margin-left:10px;

}
 
.row {
	margin-left:25px;
} 

.pull-right{
	margin-left:25px;
	padding:25px;
} 
.line{
	line-height:0px;
	margin-top:20px;
	font-family:verdara;
	margin-left:1000px;
} 

.tech {
	margin-left:0px;
	left : 75%;
	margin-left : -32px;
} 


.en { 
	position:absolute;
	padding:5px; 
	width:300px; 
	margin-left:50px; 
	margin-top:30px;
	border:8px solid #2166a9;
	background-color:#2166a9; 
	color:white;
 }
 
.today { 
	position:absolute;
	padding:5px; 
	width:650px; 
	margin-left:400px; 
	margin-top:-80px;
	text-align:center;
	border:15px solid #2166a9;
	background-color:#2166a9;
	color:white;
 }

.cadre {
	border-bottom:2px solid #bedaff ;
	padding-bottom:5px;
	font-family:verdara;
	 }

.cat {
	border-bottom:2px solid #bedaff ;
	padding-bottom:5px;
	font-family:verdara;

 }

.p{
	font-family:verdara;
	text-align:center;
 }

.col{
	margin-left:-15px;
	padding-top:20px;
}

.view  {
	text-align:right;
	margin-right:1px;
	font-size:12px;

}
.post{
	background:#e8e8e8;
	padding:25px;
	margin-right:15px;
	width:100%;
	margin-bottom:10px;
	padding-top:25px;
}

.type{
	margin-left:25px;
}

.type2{
	margin-left:25px;
}

.type2 .h3{
	border-bottom:1px solid #bedaff ;
	padding-bottom:5px;

}
.service-content{
	padding-top:40px;
	margin-left:24px;

}

.des{
	text-align:center;
	font-family:verdara;
	border-bottom:1px solid #bedaff ;
	padding-bottom:5px;
}
@media (max-width: 767px) {
.img{
	margin-left:15px;
}
}
.cen{
	text-align:left;
}

.illustr{
	border-bottom:2px solid #bedaff ;
	padding-bottom:5px;
	font-family:verdara;
	font-size:25px;
	margin-top:11px;
}

.thumbnail{
	border-bottom:5px;
}

.footer{
	background-color: #2166a9;
	width:96.22%;
	margin-left:40px;

}

.copyright {
	color: #fff;
	line-height: 10px;
	min-height: 10px;
	padding: 7px 0;
}
@media screen and (min-width: 200px) and (max-width: 640px) {
  .bloc {
    /* des trucs */
  }
}

.col{
	width:21.2222%;
	position: relative;
	min-height: 1px;

}
@media (min-width: 768px) {
.col{
	float: left;
}

hr{
	border-color: #bedaff;
	margin-left:50px;
	margin-right:15px;
}

.superbg {
	margin: 0 auto;
	width:100%;
}
















